%ul.priorities
  %li
    %i A
  %li
    %i B
  %li
    %i C
  %li
    %i D
  %li
    %i E
%ul.priority-choices
  %li(data-choice="metatype")
    %h2
    %h3
    %p
  %li(data-choice="attributes")
    %h2
    %h3
    %p
  %li(data-choice="magic-resonance")
    %h2
    %h3
    %p
  %li(data-choice="skills")
    %h2
    %h3
    %p
  %li(data-choice="resources")
    %h2
    %h3
    %p
